<html>
    <head>
        <title>Anidex</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
        <!-- Bootstrap 4 -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Font Awesome -->
        <link href="/fontawesome/css/all.css" rel="stylesheet">
        <!-- Stylesheets -->
        <link href="/fontawesome/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/navbar.css">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg text-nowrap navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/index">Anidex</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="top/anime/" id="navbardrop" data-toggle="dropdown">
                            Anime
                            </a>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="/top/anime/">Top Anime</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/genre/anime">Anime Genres</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/schedule">Weekly Schedule</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/season/archive">Season Archive</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/manga" id="navbardrop" data-toggle="dropdown">
                            Manga
                            </a>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="/top/manga">Top Manga</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/genre/manga">Manga Genres</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/season/2020/spring" style="margin-left: 5px;">Seasonal Anime <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/search" method="GET" style="margin-right: 15px;">
                        <select class="form-control" name="type">
                            <option selected value="anime">Anime</option>
                            <option value="manga">Manga</option>
                        </select>
                        <input class="form-control" type="text" placeholder="Search Anime & Manga Titles" name="search">
                        <button class="btn btn-info" type="submit" style="margin-left: 8px;">Search</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li class="nav-item active">
                            <a class="nav-link" href="/login" style="margin-left: 5px;">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/register">Register<span class="sr-only">(current)</span></a>
                        </li>
                    <% } else { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/manga" id="navbardrop" data-toggle="dropdown">
                            Signed In As <%= currentUser.username %>
                            </a>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="/user/<%= currentUser.username %>/profile">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/<%= currentUser.username %>/animelist">Anime List</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/<%= currentUser.username %>/mangalist">Manga List</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        
    