<%- include("./partials/header") %>
<div class="container">
<h2 class="mt-3">Manga Genres</h2>
<hr>
<% const genres = ["Action", "Adventure", "Cars", "Comedy", "Dementia", "Demons", "Mystery", "Drama", "Ecchi", "Fantasy", "Game", "Hentai", "Historical", "Horror", "Kids", "Magic", "Martial Arts", "Mecha", "Music", "Parody", "Samurai", "Romance", "School", "Sci Fi", "Shoujo", "Shoujo Ai", "Shounen", "Shounen Ai", "Space", "Sports", "Super Power", "Vampire", "Yaoi", "Yuri", "Harem", "Slice Of Life", "Supernatural", "Military", "Police", "Psychological", "Seinen", "Josei", "Doujinshi", "Gender Bender", "Thriller"] %>

<div class="row">
    <% for( var i = 0; i < genres.length; i++ ){ %>
        <div class="col-lg-2 col-md-4 col-sm-6 mt-2 mb-2" style="text-align: center;">
            <ul class="list-group">
                <a href="/genre/manga/<%= i+1 %>" class="list-group-item list-group-item-action"><%= genres[i] %></a>
            </ul>
        </div>
    <% } %>
</div>

<%- include("./partials/footer") %>