<%- include("./partials/header") %>

<h1 style="text-align:center; margin-top: 150px;">Sign Up</h1>

<div style="width:30%; margin:25px auto;">
    <form action="/register" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        
        <button style="margin-bottom: 12px;" class="btn btn-lg btn-success btn-block">Sign Up</button>
        <a href="/login">Already have an account?</a>
        <br>
        <a href="/anime">Go Back</a>
    </form>
</div>


<%- include("./partials/footer") %>
