body {
  font-size: 0.875rem;
  margin-bottom: 5px;
  padding-top: 70px;
  padding-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6;
}

div.anime_cover {
  width: 150px;
  height: 255px;
  float: left;
  display: inline-block;
  overflow: hidden;
}

.rounded {
  border-radius: 0.25rem !important;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a.anime_title, a.anime_title:hover, a.anime_title:focus {
  font-weight: bold;
}

a.manga_title, a.manga_title:hover, a.manga_title:focus {
  font-weight: bold;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-1 {
  margin: 0.25rem !important;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.title {
  font-size: 0.950rem;
}

.genre {
  color: #6c757d;
}

div.sm_anime_cover {
  width: 80px;
  height: 120px;
  overflow: hidden;
}

div.sm_manga_cover {
  width: 80px;
  height: 120px;
  overflow: hidden;
}

img.max-width {
  max-width: 100%;
}

.strong {
  font-weight: bold;
}
.score {
  font-weight: 500;
}

.sm_recom_cover {
  width: 160px;
  height: 240px;
  overflow: hidden;
}

.episode_title {
  font-size: 0.950rem;
  color: #337ab7;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1410px;
  }
}

.footer {
  position: relative;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

div.tiny_logo {
  width: 40px;
  height: 60px;
  overflow: hidden;
}

.list-group-css {
  border-radius: 4px;
}